<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linwap.net.dao.IUserDao">

	<!-- 新增用户 -->
	<insert id="insertUser" parameterType="user" keyProperty="id">
		INSERT INTO T_USER(NAME,PASSWORD) VALUES (#{username},#{password})
	</insert>

</mapper>